* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #1137CA;
}

#main{
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: a;
    src: url(jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1 nav{
    height: 10vh ;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw 0 7vw;
    z-index: 2;
}

#page1 nav img{
    height: 70%;
}

#page1 nav button{
    padding: 10px 20px;
    margin: 0 0.5vw;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-family: a;
    font-size: 15px;
    transition: all ease .5s;
}

#pg1-bottom{
    height: 40vh;
    width: 50vw;
    position: absolute;
    bottom: 4%;
    left: 10%;
    z-index: 2; 
}

#pg1-bottom h1{
    font-size: 5vw;
    font-family: a;
    color: white;
    line-height: 5vw;
    font-weight: 500;
}

.inner-pg1{

    height: 40%;
    margin: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
}

.inner-pg1 h3{
    font-family: a;
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.inner-pg1 button{
    font-family: a;
    width: 150px;
    height: 50px;
    color: blue;
    border-radius: 50px;
    border: 1px solid white;
    background-color: white;
    font-weight: 500;
    font-size: 15px;
    transition: all ease 0.5s;
}

#page2{
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8vw;
    font-family: a; 
}

#page2>h2{
    font-weight: 500;
    margin-bottom: 4vw;
    color: white;
}

#page2>h1{
    width: 90%;
    font-size: 4.5vw;
    font-weight: 500;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.573);
}

#page3{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    position: relative;
}
#page3 canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}


#page4{
    height: 100vh;
    width: 100vw;
    background-color: #1137CA;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: a; 
    padding: 15vw;

}

#page4>h2{
    font-weight: 500;
    margin-bottom: 3%;
    color: white;
}

#page4>h1{
    width: 100%;
    font-size: 3.2vw;
    font-weight: 500;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.556);
}

#page5{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page5 canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

#page6{
    height: 100vh;
    width: 100vw;
    background-color: #0D36C5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: a; 
    padding: 15vw;

}

#page6>h3{
    font-weight: 500;
    margin-bottom: 3%;
    color: white;
}

#page6>h1{
    width: 100%;
    font-size: 3.2vw;
    font-weight: 500;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.556);
}


#page7{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page7 canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

.page7-cir{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    /* background-color: red; */
    border: 1px solid white;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 8;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page7-cir .page7-cir-inner{
   border-radius: 50%;
   height: 70%;
   width: 70%;
   border: 1px solid white;
   /* background-color: yellow; */
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
}

#page8{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page8 video{
    position: relative;
    object-fit: cover;
    top: -20%;
    z-index: -1;
}

#pg8-pt1{
    position: absolute;
    z-index: 1;
    left: 38%;
    bottom: 1%;
}

#pg8-pt1 h1{
    font-size: 5.5vw;
    font-family: a;
    color: white;
    font-weight: 500;
}

#pg8-pt1 button{
    font-family: a;
    width: 150px;
    height: 50px;
    color: blue;
    border-radius: 50px;
    border: 1px solid white;
    background-color: white;
    font-weight: 500;
    font-size: 16px;
    margin-left: 30%;
    transition: all ease .5s;
}

#page9{
    height: 100vh;
    width: 100vw;
    display: flex;
    
    margin-top: 8vw;
    
}

#pg9-pt1{
    height:100%;
    width: 37%;
    padding: 8vw 8.5vw;
    line-height: 1.2;
}
#pg9-pt2{
    height: 100%;
    width: 63%;
}

#pg9-pt1 h1{
    font-family: a;
    font-size: 6vw;
    color: white;
    font-weight: 500;
}

#pg9-pt2{
    padding: 5vw  1vw;
    color: white;
}
#pg9-pt2 img{
   height: 85%;
   width: 95%;
   border-radius: 20px;
}

#page10{
    height: 100vh;
    width: 100vw;
    position: relative;
    padding-left: 38.5%;
}

#page10 h3{
    color: white;
    font-size: 2vw;
    font-family: a;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 0.5vw;;
}
#page10 p{
    color: rgba(255, 255, 255, 0.826);
    font-size: 1.6vw;
    font-family: a;
    font-weight: 500;
    width: 90%;
   margin-bottom: 3.5vw;
   line-height: 1.4;
}

#page11{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: white;
    padding-left: 10vw;
    padding-top: 2vw;
    margin-bottom: 1vw w;
}

#page11 h1{
   font-size: 4.5vw;
   font-family: a;
   font-weight: 500;
}

#p11-pt1{
    height: 28%;
    width: 100%;
    display: flex;
    align-items: center; 
}
#p11-pt2{
    height: 28%;
    width: 100%;

}
#p11-pt3{
    height: 28%;
    width: 100%;
}

#p11-pt1 img{
   height: 100%;
   width: 40%;
   border-radius: 10px;
}

#common{
    padding: 4vw;
}
#common h4{
    font-family: a;
    margin-bottom: 1vw;
    font-weight: 500;
}

#common h3{
    font-family: a;
    font-size: 1.8vw;
    line-height: 1.2;
    font-weight: 500;
}

#p11-pt2{
    height: 28%;
    width: 100%;
    display: flex;
    align-items: center; 
}

#p11-pt2 img{
    height: 100%;
    width: 49.8%;
    border-radius: 10px;
    margin-top: 1vw;
 }

#p11-pt3{
    height: 27%;
    width: 100%;
    display: flex;
    align-items: center; 
}

#p11-pt3 img{
    height: 100%;
    width: 39%;
    border-radius: 10px;
    margin-top: 1.5vw;
 }

 #page12{
    height: 100vh;
    width: 100vw;
 }

 #p12-p1{
    height: 50%;
    width: 100%;
    background-color: #02268E;
    color: white;
    font-family: a;
    padding-left: 60%;
    padding-top: 5vw;
 }

 #p12-p2{
    height: 50%;
    width: 100%;
    background-color: #0F0F17;
    padding-left: 10vw;
    padding-top: 4vw;
}

#p12-p1 h1{
    font-size: 4.5vw;
    font-weight: 500;
}
#p12-p1 p{
    font-size: 1.2vw;
    font-weight: 500;
    width: 80%;
}

#p12-p2 h1{
    font-family: a;
    font-size: 5vw;
    font-weight: 500;
    color: white;
    width: 40%;
    line-height: 1;
}

#p12-p2 button{
    margin-top: 2.5vw;
    height: 3vw;
    width: 10vw;
    font-size: 1vw;
    background-color: #0A3CCE;
    color: white;
    font-family: a;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    transition: all ease 0.2s;
}

#page13{
    height: 100vh;
    width: 100vw;
    background-color: #0F0F17;
    color: white;
}

#cmn{
    position: relative;
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8vw;
    padding-right: 7vw;
    border-top: 1px solid rgba(255, 255, 255, 0.183);
    font-family: a;
}

#cmn h1{
    font-size: 3.4vw;
    font-weight: 500;
    z-index: 2;
}
#cmn i{
    font-size: 2.8vw;
    font-weight: 500;
    z-index: 2;
}

#center{
    height: 0%;
    width: 100%;
    background-color: #0A3CCE;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .5s;
}


#cmn:hover #center{
    height: 100%;
}

#p12-p2 button:hover{
    transform: translate(0%,2%);
    background-color: white;
    color: #0A3CCE;
}

#page8 button:hover{
    background-color: black;
    color: white;
    border: none;
}

#page1 button:hover{
    background-color: white;
    color: #0A3CCE;
}

#pg1-bottom button:hover{
    background-color: black;
    color: white;
    border: none;
}

#page7 .page7-cir-inner h1{
    font-size: 2.5vw;
}